
#map {
	height: 300px;
	width: 600px;
}
#altitude_graph {
    height: 300px;
    width: 600px;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}
/*.show {display: block;}*/
